@use "variables" as *;
@use "mixins" as *;
@use "global" as *;
.banner {
  height: 60vw;
  max-height: 39.375rem;
  position: relative;
  background: center / cover no-repeat url("../../assets/images/hero-bio.jpg");

  &--second {
    height: 273px;
    @include tablet {
      height: 490px;
    }
  }

  &--bg {
    background: center / cover no-repeat
      url("../../assets/images/hero-shows.jpg");
  }

  &__wrapper {
    height: 100%;
    margin: 0 $margin-m;
    @include responsive-margin;

    @include flex-abs-center(row);
    justify-content: flex-start;
    &--second {
      flex-wrap: wrap;
    }

    &--center {
      align-content: center;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    @include abs-postion;
    background-color: rgba(32, 32, 32, 0.5);
  }

  &__text {
    color: $color-light-text;
    z-index: 1;
    padding-bottom: 1rem;
    flex-basis: 100%;
  }

  &__title {
    color: $color-light-text;
    z-index: 1;

    &--second {
      flex-basis: 240px;
      @include tablet {
        flex-basis: 530px;
      }
      @include desktop {
        flex-basis: 600px;
      }
    }

    &--thin {
      padding: 0;
    }
  }

  &__iframe {
    margin-top: 1rem;
    height: 100px;
    width: 290px;
    z-index: 2;

    @include tablet {
      height: 140px;
      width: 420px;
    }
  }
}
