@use "mixins" as *;
@use "variables" as *;
.site-footer {
  background: $color-dark-bg;
  color: $color-link;
  @include responsive-padding-bottom;
  @include responsive-padding-top;

  &__wrapper {
    margin: 0 1rem;
    @include responsive-margin;
  }

  &__social {
    @include tablet {
      @include flex-cross-center;
      gap: 2rem;
    }
  }

  &__title {
    @include tablet {
      padding: 0;
    }
  }

  &__contact {
    @include tablet {
      @include flex;
      justify-content: space-between;
      max-width: 43.5rem;
    }
  }

  &__row {
    @include flex-cross-center;
    justify-content: space-between;
  }

  &__logo {
    @include logo;
    padding-top: $padding-t;
    display: block;
    @include tablet {
      display: none;
    }
  }

  &__logo--second {
    display: none;
    padding: 0;
    @include tablet {
      display: block;
    }
  }
}
