@use "mixins" as *;
@use "variables" as *;
.site-footer {
  background: $color-dark-bg;
  color: $color-light-text;
  @include padding-bottom;

  &__social {
    @include tablet {
      display: flex;
      align-items: center;
      gap: 32px;
      padding-top: 48px;
    }
  }

  &__title {
    @include tablet {
      padding: 0;
    }
  }

  &__contact {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}
