@use "mixins" as *;
@use "variables" as *;
.site-footer {
  background: $color-dark-bg;
  color: $color-link;
  @include padding-bottom;
  @include padding-top;

  &__social {
    flex-wrap: nowrap;
    @include tablet {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  &__title {
    @include tablet {
      padding: 0;
    }
  }

  &__contact {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      max-width: 64%;
      padding-right: 0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding-top: $padding-s;
    @include logo;
    display: block;
    @include tablet {
      display: none;
    }
  }

  &__logo--second {
    display: none;
    @include tablet {
      display: block;
    }
  }
}
