@use "variables" as *;
@use "mixins" as *;
@use "header" as *;
@use "footer" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // for debugging
  // border: 1px dotted lightgrey;
}

body {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  color: $color-dark-bg;
  @include responsive-font(13px, 18px, 400, 14px, 22px, 400);
}

h1 {
  @include responsive-font(1.5rem, 2rem, 700, 3.75rem, 4.25rem, 700);
}

h2 {
  @include responsive-font(1.5rem, 2rem, 700, 2.25rem, 2.75rem, 600);
}

blockquote,
h3 {
  @include responsive-font(0.875rem, 1.375rem, 600, 1.5rem, 2rem, 600);
}

footer {
  @include responsive-font(13px, 18px, 400, 14px, 20px, 400);
}

h1,
h2,
h3 {
  @include padding-top-bottom;
}

p {
  @include padding-bottom;
}

section,
footer {
  & > * {
    @include padding-left-right;
  }
}

address {
  font-style: normal;
  @include padding-top;
}

ul,
li {
  list-style: none;
  @include flex-abs-center(row);
}

a {
  text-decoration: none;
  color: $color-link;
}

a:active {
  color: $color-light-text;
  font-weight: 700;
}
