@use "variables" as *;
@use "mixins" as *;
@use "header" as *;
@use "footer" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
body {
  font-family: "Avenir Next", Helvetica, sans-serif;
  color: $color-dark-bg;
  @include responsive-font(0.8125rem, 1.125rem, 400, 0.875rem, 1.375rem, 400);
}

h1 {
  @include responsive-font(1.5rem, 2rem, 700, 3.75rem, 4.25rem, 700);
}

h2 {
  @include responsive-font(1.5rem, 2rem, 700, 2.25rem, 2.75rem, 600);
}

blockquote,
h3 {
  @include responsive-font(0.875rem, 1.375rem, 600, 1.5rem, 2rem, 600);
}

label,
button,
footer {
  @include responsive-font(0.8125rem, 1.125rem, 400, 0.875rem, 1.25rem, 400);
}

h1,
h2,
h3 {
  @include responsive-padding-top-bottom;
}

p {
  @include responsive-padding-bottom;
}

address {
  font-style: normal;
}

address,
blockquote {
  @include responsive-padding-top;
}

ul,
li {
  list-style: none;
  @include flex-abs-center();
}

a {
  text-decoration: none;
  color: $color-link;
}

a:active {
  color: $color-light-text;
  font-weight: 700;
}

button {
  color: $color-light-text;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  background: $color-dark-bg;
  width: 100%;
  @include tablet {
    min-width: 9.375rem;
  }
}
input {
  margin-top: 0.25rem;
  margin-bottom: $margin-m;
  width: 100%;
  border: 1px solid $color-link;
  border-radius: 0.25rem;
  padding: 0.75rem;
  @include tablet {
    padding: 1rem;
  }
}

input:active {
  border-color: $color-dark-bg;
}

input:required:invalid {
  border-color: $color-error;
}

textarea {
  border: 1px solid $color-link;
}
