@use "mixins" as *;
@use "variables" as *;

.site-header {
  background: $color-dark-bg;
  color: $color-light-text;
  @include padding-top;
  @include flex-abs-center(column);

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: calc($padding-b * 2);
    @include padding-left-right;
    padding-top: 0;
  }
}

.site-header__logo {
  @include logo;
}

.navigation {
  &--full {
    width: 100%;
  }

  &__list {
    gap: 2rem;

    @include tablet {
      justify-content: flex-start;
      gap: 4rem;
    }

    &--second {
      gap: 2rem;
    }
  }

  &__item {
    flex-grow: 1;
    padding: $padding-xs 0;

    @include tablet {
      flex-grow: 0;
      padding: $padding-m 0;
    }

    @include desktop {
      padding: $padding-b 0;
    }

    &--left {
      justify-content: flex-start;
    }

    &--active {
      border-bottom: 3px solid white;
    }
  }

  &__icon {
    width: auto;
    height: 1.5625rem;
  }

  &__link {
    &--second {
      height: 1.5625rem;
    }

    &--active {
      font-weight: 700;
    }
  }
}
