@use "mixins" as *;
@use "variables" as *;

.site-header {
  background: $color-dark-bg;
  color: $color-light-text;
  height: 4.75rem;

  @include tablet {
    height: 4.375rem;
  }

  @include desktop {
    height: 5.3125rem;
  }

  &__wrapper {
    height: 100%;
    @include responsive-margin;

    @include flex-abs-center(column);

    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
      gap: 4rem;
    }
  }

  &__logo {
    @include logo;
  }
}

.navigation {
  height: 50%;
  @include tablet {
    height: 100%;
  }

  &--full {
    width: 100%;
  }

  &--second {
    @include tablet {
      flex-grow: 1;
    }
  }

  &__list {
    height: 100%;

    @include tablet {
      justify-content: flex-start;
      gap: 4rem;
    }

    &--second {
      gap: 2rem;
    }
  }

  &__item {
    height: 100%;
    width: 50%;

    @include tablet {
      flex-grow: 0;
      max-width: fit-content;
    }

    &--left {
      justify-content: flex-start;
    }

    &--active {
      border-bottom: 0.1875rem solid white;
    }
  }

  &__icon {
    width: auto;
    height: 1.5625rem;
  }

  &__link {
    &--second {
      height: 1.5625rem;
    }

    &--active {
      font-weight: 700;
    }
  }
}
