@use "variables" as *;

@mixin font($size, $weight, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin flex-center($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

@mixin flex-even($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: space-evenly;
  align-items: center;
}
