@use "variables" as *;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin body-copy {
  @include font(13px, 18px, 400);
  // media queries for tablet
  // media queris for desktop
}

@mixin styles-headers {
  h1 {
    @include font(24px, 32px, 700);
    // media queries for tablet
    // media queris for desktop
  }
  h2 {
    @include font(24px, 32px, 700);
    // media queries for tablet
    // media queris for desktop
  }
  h3 {
    @include font(14px, 22px, 600);
    // media queries for tablet
    // media queris for desktop
  }

  h1,
  h2,
  h3 {
    padding: $padding-m 0 $padding-s 0;
    // media queries for tablet
    // media queris for desktop
  }
}

@mixin padding-sides {
  & > * {
    padding-left: $padding-s;
    padding-right: $padding-s;
    padding-bottom: $padding-s;
  }
  // media query for tablet
  // media query for desktop
}

@mixin padding-top-bottom {
  padding-top: $padding-s;
  // media query for tablet
  // media query for desktop
}

@mixin flex-center($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

@mixin flex-even($dir) {
  @include flex-center($dir);
  justify-content: space-evenly;
}
