@use "variables" as *;

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin padding-top-bottom {
  padding-top: $padding-m;
  padding-bottom: $padding-s;
  // media query for tablet
  // media query for desktop
}

@mixin padding-left-right {
  padding-left: $padding-s;
  padding-right: $padding-s;
  // media query for tablet
  // media query for desktop
}

@mixin padding-top {
  padding-top: $padding-s;
  // media query for tablet
  // media query for desktop
}
@mixin padding-bottom {
  padding-bottom: $padding-s;
  // media query for tablet
  // media query for desktop
}

@mixin flex-gap($dir, $gap) {
  display: flex;
  flex-direction: $dir;
  gap: $gap;
}

@mixin flex-abs-center($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

@mixin flex-cross-center($dir) {
  @include flex-abs-center($dir);
  justify-content: space-evenly;
}

@mixin abs-postion {
  position: absolute;
  top: 0;
  left: 0;
}
