$color-dark-bg: #323232;
$color-light-text: #ffffff;
$color-link: #e1e1e1;
$color-light-bg: #fafafa;

// padding: xsmall, small, medium, big, huge
$padding-m: 1rem;
$padding-t: 1.5rem;
$padding-d: 2.25rem;

$margin-m: 1rem;
$margin-t: 2.25rem;
$margin-d: auto;
$max-width: 63.75rem;

// breakpoint
$tablet: 768px;
$desktop: 1280px;
