$color-dark-bg: #323232;
$color-light-text: #ffffff;
$color-link: #e1e1e1;
$color-light-bg: #fafafa;

// padding: xsmall, small, medium, big, huge
$padding-xs: 0.5rem;
$padding-s: 1rem;
$padding-m: 1.5rem;
$padding-b: 2.25rem;
$padding-h: 3rem;

// breakpoint
$tablet: 768px;
$desktop: 1280px;
