// primary colors: text/bg, text/CTA inactive, text/CTA active
$color-primary-black: #323232;
$color-primary-silver: #afafaf;
$color-primary-white: #ffffff;

// secondary colors: CTA hover, divier, lt_bg

$color-seconday-black: #000000;
$color-seconday-silver: #e1e1e1;
$color-secondary-white: #fafafa;

// font-size: button/labels, body/footer,
// mobile
$font-button: 10px;
$font-button-big: 12px;

$lineHeight-button: 20px;

$font-text: 13px;
$font-text-big: 14px;

$lineHeight-text: 18px;
$lineHeight-text-m: 20px;
$lineHeight-text-b: 22px;

$font-subheader: 14px;
$font-subheader-big: 24px;

$lineHeight-subheader: 22px;
$lineHeight-header: 32px;

$font-secheader: 24px;
$font-secheader-big: 36px;

$font-pgheader: 24px;
$font-pgheader-big: 60px;

// padding: small, medium, big, huge
$padding-xs: 8px;
$padding-s: 16px;
$padding-m: 24px;
$padding-b: 36px;
$padding-h: 48px;
