.site-header {
  background: #323232;
  color: #ffffff;
  height: 4.75rem;
}
@media (min-width: 768px) {
  .site-header {
    height: 4.375rem;
  }
}
@media (min-width: 1280px) {
  .site-header {
    height: 5.3125rem;
  }
}
.site-header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .site-header__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .site-header__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
  }
}
.site-header__logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}
@media (min-width: 768px) {
  .site-header__logo {
    height: 100%;
    justify-content: center;
  }
}

.navigation {
  height: 50%;
}
@media (min-width: 768px) {
  .navigation {
    height: 100%;
  }
}
.navigation--full {
  width: 100%;
}
@media (min-width: 768px) {
  .navigation--second {
    flex-grow: 1;
  }
}
.navigation__list {
  height: 100%;
}
@media (min-width: 768px) {
  .navigation__list {
    justify-content: flex-start;
    gap: 4rem;
  }
}
.navigation__list--second {
  gap: 2rem;
}
.navigation__item {
  height: 100%;
  width: 50%;
}
@media (min-width: 768px) {
  .navigation__item {
    flex-grow: 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.navigation__item--left {
  justify-content: flex-start;
}
.navigation__item--active {
  border-bottom: 0.1875rem solid white;
}
.navigation__icon {
  width: auto;
  height: 1.5625rem;
}
.navigation__link--second {
  height: 1.5625rem;
}
.navigation__link--active {
  font-weight: 700;
}

.site-footer {
  background: #323232;
  color: #e1e1e1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .site-footer {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .site-footer {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .site-footer {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .site-footer {
    padding-top: 2.25rem;
  }
}
.site-footer__wrapper {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .site-footer__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .site-footer__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.site-footer__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .site-footer__row {
    flex-wrap: nowrap;
  }
}
.site-footer__title {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .site-footer__title {
    padding: 0;
    flex-basis: 15.75rem;
  }
}
@media (min-width: 768px) {
  .site-footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 43.5rem;
  }
}
.site-footer__logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  padding-top: 1.5rem;
  display: block;
}
@media (min-width: 768px) {
  .site-footer__logo {
    height: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .site-footer__logo {
    display: none;
  }
}
.site-footer__logo--second {
  display: none;
  padding: 0;
}
@media (min-width: 768px) {
  .site-footer__logo--second {
    display: block;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
body {
  font-family: "Avenir Next", Helvetica, sans-serif;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  input,
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

blockquote,
h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  blockquote,
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

label,
button,
footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  label,
  button,
  footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

h1,
h2,
h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
  }
}

p {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  p {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  p {
    padding-bottom: 2.25rem;
  }
}

address {
  font-style: normal;
}

address,
blockquote {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  address,
  blockquote {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  address,
  blockquote {
    padding-top: 2.25rem;
  }
}

ul,
li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #e1e1e1;
}

a:active {
  color: #ffffff;
  font-weight: 700;
}

button {
  color: #ffffff;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  background: #323232;
  width: 100%;
}
@media (min-width: 768px) {
  button {
    min-width: 9.375rem;
  }
}

input {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  padding: 0.75rem;
}
@media (min-width: 768px) {
  input {
    padding: 1rem;
  }
}

input:active {
  border-color: #323232;
}

input:required:invalid {
  border-color: #d22d2d;
}

textarea {
  border: 1px solid #e1e1e1;
}

.banner {
  height: 60vw;
  max-height: 39.375rem;
  position: relative;
  background: center/cover no-repeat url("../assets/images/hero-bio.jpg");
}
.banner__wrapper {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .banner__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .banner__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.banner__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.5);
}
.banner__title {
  color: #ffffff;
  z-index: 1;
}

.bio {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .bio {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .bio {
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .bio__body {
    margin: 0 3.75rem;
  }
}
@media (min-width: 1280px) {
  .bio__body {
    margin: 0 5.625rem;
  }
}
.bio__image {
  width: 100%;
  height: 48vw;
}
@media (min-width: 768px) {
  .bio__image {
    height: 40vw;
  }
}
@media (min-width: 1280px) {
  .bio__image {
    height: 35vw;
  }
}
.bio__author {
  padding-bottom: 0;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .bio__author {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  .bio__copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
}

.gallery {
  background: #fafafa;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding-bottom: 2.25rem;
  }
}
.gallery__wrapper {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .gallery__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.gallery__body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .gallery__body {
    gap: 1.5rem;
  }
}
.gallery__image {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .gallery__image {
    max-width: calc((100% - 3rem) / 3);
  }
}

.comments {
  margin: 0 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comments {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .comments {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding-bottom: 2.25rem;
  }
}
.comments__form {
  position: relative;
  padding-left: 3.125rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments__form {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .comments__form {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .comments__form {
    margin-left: 3.75rem;
    padding-left: 4.125rem;
  }
}
.comments__form::before {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  content: "";
  border-radius: 50%;
  background: #e1e1e1;
  margin-top: 1rem;
  margin-right: 1rem;
  background: center/cover no-repeat url(../assets/images/Mohan-muruge.jpg);
  position: absolute;
  top: 0.5rem;
  left: 0;
}
@media (min-width: 768px) {
  .comments__form::before {
    width: 3rem;
    height: 3rem;
  }
}
.comments__label {
  color: #e1e1e1;
}
.comments__textarea {
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .comments__button {
    width: 30%;
    align-self: flex-end;
  }
}
.comments__list {
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments__list {
    padding-left: 3.75rem;
  }
}
.comments__item {
  min-width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #e1e1e1;
}
.comments__item:first-of-type {
  border-top: 1px solid #e1e1e1;
}
.comments__item::before {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  content: "";
  border-radius: 50%;
  background: #e1e1e1;
  margin-top: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .comments__item::before {
    width: 3rem;
    height: 3rem;
  }
}
.comments__name {
  flex-grow: 1;
  font-weight: 700;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .comments__name {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .comments__name {
    padding-top: 2.25rem;
  }
}
.comments__timestamp {
  padding-top: 1rem;
  color: #e1e1e1;
}
@media (min-width: 768px) {
  .comments__timestamp {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .comments__timestamp {
    padding-top: 2.25rem;
  }
}
.comments__text {
  padding-left: 3.125rem;
  min-width: 100%;
}
@media (min-width: 768px) {
  .comments__text {
    padding-left: 4.125rem;
  }
}/*# sourceMappingURL=bio.css.map */