@use "partials/fonts" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // for debugging
  // border: 1px dotted lightgrey;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: $font-text;
  @include font($font-text, 400, $lineHeight-text);
  color: $color-primary-black;
}

.site-header {
  background: $color-primary-black;
  color: $color-primary-white;
  @include flex-center(column);

  &__title {
    @include font($font-pgheader, 400, $lineHeight-header);
    padding: $padding-s 0 $padding-xs 0;
    text-transform: uppercase;
  }
}

.navigation {
  width: 100%;

  &__list {
    @include flex-even(row);
  }

  &__item {
    flex-grow: 1;
    text-align: center;
  }

  &__link {
    color: $color-primary-white;
    padding: $padding-xs 0;
    min-width: 100%;
  }

  &__link:hover,
  &__link--active {
    border-bottom: 3px solid white;
    font-weight: 700;
  }
}

.banner {
  & > * {
    padding-left: $padding-s;
    padding-right: $padding-s;
  }
  &__wrapper {
    height: 190px;
    background: center / cover no-repeat url("../assets/images/hero-bio.jpg");
    @include flex-center(row);
    justify-content: flex-start;
  }
  &__title {
    @include font($font-pgheader, 700, $lineHeight-header);
    color: $color-primary-white;
  }
}

.bio {
  & > * {
    padding-left: $padding-s;
    padding-right: $padding-s;
    padding-bottom: $padding-s;
  }
  &__title {
    @include font($font-pgheader, 700, $lineHeight-subheader);
    padding-top: $padding-m;
  }
  &__image {
    display: inline-block;
    width: 100%;
  }
  &__quote {
  }
  &__author {
    padding-top: $padding-xs;
  }
  &__body {
    & > * {
      padding-bottom: $padding-s;
    }
  }
  &__subtitle {
    padding-top: $padding-s;
    font-weight: 400;
  }
  &__copy {
  }
}
