@use "partials/fonts" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // for debugging
  // border: 1px dotted lightgrey;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: $font-text;
  color: $color-primary-black;
}

.site-header {
  background: $color-primary-black;
  color: $color-primary-white;
  @include flex-center(column);

  &__title {
    @include font($font-pgheader, 400, $lineHeight-header);
    @include padding-top-bottom($padding-s, $padding-xs);
    text-transform: uppercase;
  }
}

.main-nav {
  width: 100%;

  &__list {
    @include flex-even(row);
  }

  &__item {
    flex-grow: 1;
    text-align: center;
  }

  &__link {
    color: $color-primary-white;
    @include padding-top-bottom($padding-xs, $padding-xs);
    width: 100%;
  }

  &__link:hover,
  &__link--active {
    border-bottom: 3px solid white;
  }
}
