@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
.site-header {
  background: #323232;
  color: #ffffff;
  height: 4.75rem;
}
@media (min-width: 768px) {
  .site-header {
    height: 4.375rem;
  }
}
@media (min-width: 1280px) {
  .site-header {
    height: 5.3125rem;
  }
}
.site-header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .site-header__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .site-header__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .site-header__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
  }
}
.site-header__logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}
@media (min-width: 768px) {
  .site-header__logo {
    height: 100%;
    justify-content: center;
  }
}

.navigation {
  height: 50%;
}
@media (min-width: 768px) {
  .navigation {
    height: 100%;
  }
}
.navigation--full {
  width: 100%;
}
@media (min-width: 768px) {
  .navigation--second {
    flex-grow: 1;
  }
}
.navigation__list {
  height: 100%;
}
@media (min-width: 768px) {
  .navigation__list {
    justify-content: flex-start;
    gap: 4rem;
  }
}
.navigation__list--second {
  gap: 2rem;
}
.navigation__item {
  height: 100%;
  width: 50%;
}
@media (min-width: 768px) {
  .navigation__item {
    flex-grow: 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.navigation__item--left {
  justify-content: flex-start;
}
.navigation__item--active {
  border-bottom: 0.1875rem solid white;
}
.navigation__icon {
  width: auto;
  height: 1.5625rem;
}
.navigation__link--second {
  height: 1.5625rem;
}
.navigation__link--active {
  font-weight: 700;
}

.site-footer {
  background: #323232;
  color: #e1e1e1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .site-footer {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .site-footer {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .site-footer {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .site-footer {
    padding-top: 2.25rem;
  }
}
.site-footer__wrapper {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .site-footer__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .site-footer__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.site-footer__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .site-footer__row {
    flex-wrap: nowrap;
  }
}
.site-footer__title {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .site-footer__title {
    padding: 0;
    flex-basis: 15.75rem;
  }
}
@media (min-width: 768px) {
  .site-footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 43.5rem;
  }
}
.site-footer__logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  padding-top: 1.5rem;
  display: block;
}
@media (min-width: 768px) {
  .site-footer__logo {
    height: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .site-footer__logo {
    display: none;
  }
}
.site-footer__logo--second {
  display: none;
  padding: 0;
}
@media (min-width: 768px) {
  .site-footer__logo--second {
    display: block;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea,
input,
body {
  font-family: "Avenir Next", Helvetica, sans-serif;
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  textarea,
  input,
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

blockquote,
h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  blockquote,
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

label,
button,
footer {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  label,
  button,
  footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

h1,
h2,
h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
  }
}

p {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  p {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  p {
    padding-bottom: 2.25rem;
  }
}

address {
  font-style: normal;
}

address,
blockquote {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  address,
  blockquote {
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  address,
  blockquote {
    padding-top: 2.25rem;
  }
}

ul,
li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #e1e1e1;
}

a:active {
  color: #ffffff;
  font-weight: 700;
}

button {
  color: #ffffff;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  background: #323232;
  width: 100%;
}
button:hover {
  background: #000000;
}
@media (min-width: 768px) {
  button {
    min-width: 9.375rem;
  }
}

input {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.75rem;
}
@media (min-width: 768px) {
  input {
    padding: 1rem;
  }
}

input:active {
  border-color: #323232;
}

input,
textarea {
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  background: #fafafa;
}

table {
  border-collapse: collapse;
  width: 100%;
}
@media (min-width: 1280px) {
  table {
    margin-top: 3rem;
  }
}

th {
  color: #e1e1e1;
  text-align: left;
  padding-left: 1rem;
}

tr {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
}
tr:first-of-type {
  border-bottom: none;
}
@media (min-width: 768px) {
  tr:not(:first-child):not(.shows__row--selected):hover {
    background: #fafafa;
    cursor: pointer;
  }
}

td {
  padding-bottom: 1rem;
  padding: 1rem;
  vertical-align: baseline;
}
@media (min-width: 768px) {
  td {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  td {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  td {
    padding: 1.5rem 1.125rem;
  }
}

.banner {
  height: 60vw;
  max-height: 39.375rem;
  position: relative;
  background: center/cover no-repeat url("../../assets/images/hero-bio.jpg");
}
.banner--second {
  height: 273px;
}
@media (min-width: 768px) {
  .banner--second {
    height: 490px;
  }
}
.banner--bg {
  background: center/cover no-repeat url("../../assets/images/hero-shows.jpg");
}
.banner__wrapper {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .banner__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .banner__wrapper {
    width: 63.75rem;
    margin: 0 auto;
  }
}
.banner__wrapper--second {
  flex-wrap: wrap;
}
.banner__wrapper--center {
  align-content: center;
}
.banner__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.5);
}
.banner__text {
  color: #ffffff;
  z-index: 1;
  padding-bottom: 1rem;
  flex-basis: 100%;
}
.banner__title {
  color: #ffffff;
  z-index: 1;
}
.banner__title--second {
  flex-basis: 240px;
}
@media (min-width: 768px) {
  .banner__title--second {
    flex-basis: 530px;
  }
}
@media (min-width: 1280px) {
  .banner__title--second {
    flex-basis: 600px;
  }
}
.banner__title--thin {
  padding: 0;
}
.banner__iframe {
  margin-top: 1rem;
  height: 100px;
  width: 290px;
  z-index: 2;
}
@media (min-width: 768px) {
  .banner__iframe {
    height: 140px;
    width: 420px;
  }
}

.shows {
  margin: 0 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    width: 63.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .shows {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    gap: 8.125rem;
  }
}
.shows__header {
  display: none;
}
@media (min-width: 768px) {
  .shows__header {
    display: table-cell;
  }
}
.shows__row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .shows__row {
    display: table-row;
  }
}
@media (min-width: 768px) {
  .shows__row--selected {
    background: #e1e1e1;
  }
}
.shows__date {
  font-weight: 700;
}
.shows__date::before {
  content: "DATE";
  color: #e1e1e1;
  display: block;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows__date::before {
    display: none;
  }
}
.shows__venue::before {
  content: "VENUE";
  color: #e1e1e1;
  display: block;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows__venue::before {
    display: none;
  }
}
.shows__location::before {
  content: "LOCATION";
  color: #e1e1e1;
  display: block;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows__location::before {
    display: none;
  }
}
.shows__button {
  color: #ffffff;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  background: #323232;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.shows__button:hover {
  background: #000000;
}
@media (min-width: 768px) {
  .shows__button {
    min-width: 9.375rem;
  }
}/*# sourceMappingURL=shows.css.map */